:root {
    --color-first:#F8F8F8;
    --color-two:#25B9FD;
    --color-third:#bbe1fa;
    --color-blacksecond:#1b262c;
    --color-four:#474643;
    --color-black: #000;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-third);
    border-bottom: 10px solid var(--color-black);
    padding: 10px 20px;
    
}

h1 {
    font-family:'Homemade Apple', cursive;
    color: var(--color-two);
    text-shadow: 2px 2px 0px var(--color-blacksecond);
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: var(--color-second);
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
   content: "";
   background-color: var(--color-two);
   width: 10px;
   height: 10px;
   margin-right: 10px;
}


#button {
    display: inline-block;
    background-color:var(--color-two);
    box-shadow: 5px 5px 0px var(--color-black);
    padding: 18px 16px;
    margin-right: 0;
    transition: transform 120ms linear  opacity 200ms ease-in-out;
}

#button:hover{
    transform: scale(1.02);
    opacity: 0.9;
}