.box{
    display:inline-block;
    background-color: var(--color-blacksecond);
    box-shadow: 10px 8px 0 var(--color-black);
    text-align: center;
    padding: 30px 30px;
}

.box .title {
margin-bottom: 20px;
}